body {
    background-image:url("./ignasi_pattern_s.png");
}

nav {
    background-color: rgb(9, 177, 177);
}

.card {
    margin-top: 50px;
}
.card-img-top {
    width: 250px;
    height: auto;
    margin: 25px;
}