body {
    background-image:url("./ignasi_pattern_s.png");
}

nav {
    background-color: rgb(9, 177, 177);
}

.about-me {
    margin-top: 50px;
    background-color:#FFFFFF;
    height: 70px;
    width: auto;
}
.card-img-top {
    width: 250px;
    height: auto;
    margin-left: 25px;
}