body {
    background-image:url("./ignasi_pattern_s.png");
}

nav {
    background-color: rgb(9, 177, 177);
}


.card-img-top {
    width: 250px;
    height: auto;
    margin-left: 25px;
    margin-right: 50px;
}

.card {
    margin-top: 5rem;
}
