body {
    background-image:url("./ignasi_pattern_s.png");
}

nav {
    background-color: white;
}
.jumbotron{
    margin-top:5rem;.
}
.my-name {
    font-size: 2rem;
    background-color: rgb(9, 177, 177);
}
.portfolio-a{
    height: 350px;
    width: 350px;
    padding: 10px;
}